.vanillabox {
  box-sizing: border-box;
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.2s;
  pointer-events: all;
  opacity: 1;
}
.vanillabox[aria-hidden] {
  pointer-events: none;
  opacity: 0;
}
.vanillabox *,
.vanillabox *:before,
.vanillabox *:after {
  box-sizing: inherit;
}

.vanillabox-button {
  cursor: pointer;
  color: #fff;
  background: none;
  border-radius: 100%;
  border: none;
  font-size: 3em;
  line-height: 1;
  display: block;
  z-index: 100;
  position: absolute;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  padding-bottom: 0.15em;
  overflow: hidden;
  transition: 0.2s;
}
.vanillabox:hover .vanillabox-button {
  opacity: 0.6;
}
.vanillabox-button.vanillabox-button:hover,
.vanillabox-button.vanillabox-button:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.vanillabox-closer {
  top: 0.1em;
  right: 0.1em;
  opacity: 0.25;
}
.vanillabox-prev,
.vanillabox-next {
  bottom: 1em;
  opacity: 0;
}
@media (min-height: 10em) {
  .vanillabox-prev,
  .vanillabox-next {
    bottom: 50%;
    transform: translateY(50%);
  }
}

.vanillabox-prev {
  left: 0.1em;
}
.vanillabox-next {
  right: 0.1em;
}
.vanillabox-prev:after {
  content: "<";
}
.vanillabox-next:after {
  content: ">";
}

.vanillabox-title,
.vanillabox-status,
.vanillabox-info {
  z-index: 90;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.vanillabox-title {
  pointer-events: none;
  right: auto;
}
.vanillabox-status {
  pointer-events: none;
  left: auto;
}
.vanillabox-info {
  top: 0;
  bottom: auto;
  left: 0;
  right: 5em;
}
.vanillabox-info {
  opacity: 0;
  transition: 0.2s;
}
.vanillabox-info-visible {
  opacity: 1;
}

.vanillabox-singleitem .vanillabox-prev,
.vanillabox-singleitem .vanillabox-next,
.vanillabox-singleitem .vanillabox-status {
  display: none;
}

.vanillabox-item {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: z-index 0s, opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  z-index: 20;
  opacity: 0;
  transform: scale(0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.vanillabox .vanillabox-current {
  z-index: 30;
  opacity: 1;
  transform: scale(1);
}
.vanillabox .vanillabox-out {
  z-index: 10;
  opacity: 0;
  transform: scale(1);
}
.vanillabox .vanillabox-direct {
  transition: none;
}

.vanillabox img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
